{% extends 'base.html' %}

{% block main %}
  <h1 class="title">Image Repository</h1>
  <div class="container">
    {% if msg %}
      <p class="error-container" id="errors" onclick="closeErrors()">{{ msg }}</p>
    {% endif %}
    {% include 'upload_form.html' %}
    <br>
    <br>
    <div class="files-container">
      <h2 class="title-2">Files</h2>
      {% if not files %}
        <h3>There's currently no files in the bucket</h3>
      {% else %}
          {% for file in files %}
            {% include 'file.html' %}
          {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock main %}
  
